<%
  if @terms.size > 1
    title       params[:id]
    description @terms.first.short_description
    canonical   term_url(params[:id])
  else
    term       = @terms.first
    dictionary = term.dictionary

    title       "#{params[:id]} - #{dictionary.name}"
    description term.descriptions.map(&:content).join[0..200]
    canonical   dictionary_term_url(dictionary.id, params[:id])
  end
%>

<script>
  function saveHistory(term) {
    var termsHistory = new Set(JSON.parse(localStorage.getItem( "termsHistory" )) || []);

    termsHistory.delete(term);
    termsHistory.add(term);

    // 最多儲存 1000 筆 history
    if (termsHistory.size > 1000) {
      termsHistory = new Set([...termsHistory].slice(-1000));
    }

    localStorage.setItem('termsHistory', JSON.stringify([...termsHistory]));
  }

  var term = window.location.pathname.split( "/" ).slice(-1)[0];
  saveHistory(decodeURIComponent(term));
</script>

<div id="sidebar" class="mt-[42px] p-4 absolute top-0 left-0 w-full h-[75px] border-r-0 border-b border-gray-200 sm:static sm:border-r sm:border-b-0 sm:w-1/4 sm:h-auto sm:mt-0">
  <input type="text" id="search" class="w-full p-2 border border-gray-300 rounded" placeholder="請輸入欲查詢的字詞">
</div>
<div id="main-content" class="mt-[75px] p-4 sm:mt-0 sm:w-3/4">
  <div class="flex justify-between space-x-2">
    <h1 class="text-2xl">
      <%= params[:id] %>
      <% if @terms.first.is_stem %>
        <span class="text-base">（詞幹）</span>
      <% end %>
      <button id="bookmark" class="inline-block" data-term="<%= params[:id] %>">
        <i class="text-gray-500 text-base mr-2"></i>
      </button>
    </h1>
    <button id="copy-url" class="block sm:hidden">
      <i class="fa-regular fa-copy text-gray-500 mr-2 pt-1"></i>
    </button>
  </div>
  <div class="mt-4 space-y-4">
    <% @dictionaries.each do |dictionary| %>
      <div id="dictionary-<%= dictionary.id %>" class="dictionaries">
        <div class="bg-<%= dictionary.color %>-600 text-white p-2"><%= dictionary.name %></div>

        <% terms = @terms.select{|t| t.dictionary_id == dictionary.id} %>
        <% totla_terms = terms.size %>
        <% terms.each_with_index do |term, i| %>
          <div class="term-into">
            <span class="text-slate-400"><%= dictionary.dialect %></span>
            <% if term.repetition.present? %>
              <span class="bg-sky-500 text-white p-0.5">
                [疊 <%= term.repetition %>]
              </span>
            <% end %>

            <% stem = term.stem %>
            <% if stem.present? %>
              <span class="text-gray-500">
                （詞幹: <%= link_to_if((stem.name != term.name) && stem.has_term,
                                      stem.name,
                                      term_path(stem.name)) %>）
              </span>
            <% end %>

            <% if term.audio.present? %>
              <button>
                <i class="fa-solid fa-volume-high" onclick="document.getElementById('audio-<%= term.id %>').play()"></i>
              </button>
              <%= audio_tag term.audio_url, id: "audio-#{term.id}" %>
            <% end %>

            <button class="float-right block">
              <i class="fa-solid fa-square-share-nodes text-gray-400 hover:text-gray-800 text-xl mr-2" onclick="navigator.share({url: '<%= request.base_url %>/dictionaries/<%= dictionary.id %>/terms/<%= params[:id] %>'})"></i>
            </button>
          </div>

          <% if dictionary.name == "原住民族語言線上辭典" %>
            <div class="ilrdf-term-info">
              <% if term.frequency.present? %>
                <span class="text-sm text-gray-500">
                  詞頻：（<%= term.frequency %>）
                </span>
              <% end %>

              <% if term.variant.present? %>
                <span class="text-sm text-gray-500">
                  變體：<%= term.variant %>
                </span>
              <% end %>

              <% if term.note.present? %>
                <p class="text-sm text-gray-500">
                  備註：<%= term.note %>
                </p>
              <% end %>
            </div>
          <% end %>

          <% if dictionary.name == "博利亞潘世光阿漢字典" %>
            <div class="pourrias_poinsot-term-info">
              <% if term.dialects.present? %>
                <span class="text-sm text-gray-500">
                  來自：<%= term.dialects %>
                </span>
              <% end %>
            </div>
          <% end %>

          <% if dictionary.name == "吳明義阿美族語辭典" %>
            <div class="namoh-term_source">
              <% if term.term_source.present? %>
                <% term.term_source.split("|").each do |term_source| %>
                  <span class="text-sm text-gray-500 block">
                    <%= Term::TERM_SOURCE_MAP[term_source] %>
                    <%= term_source if Term::TERM_SOURCE_MAP[term_source].nil? %>
                  </span>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if term.descriptions.present? %>
            <ol class="list-decimal list-outside space-y-2 mt-2 ml-5">
              <% term.descriptions.each do |description| %>
                <li>
                  <% if description.focus.present? %>
                    <span class="text-gray-500 text-sm">(焦點：<%= description.focus %>)</span>
                  <% end %>
                  <% if description.category.present? %>
                    <span class="text-gray-500 text-sm">(範疇分類：<%= description.category %>)</span>
                  <% end %>

                  <% case dictionary.name %>
                  <% when '博利亞潘世光阿法字典' %>
                    <%= simple_format(description.content_fr) %>
                  <% when '方敏英字典' %>
                    <%= simple_format(description.content_zh) %>
                    <%= simple_format(description.content_en) %>
                  <% when '蔡中涵大辭典',
                          '學習詞表－秀姑巒阿美語',
                          '學習詞表－海岸阿美語',
                          '學習詞表－馬蘭阿美語',
                          '學習詞表－恆春阿美語',
                          '學習詞表－南勢阿美語',
                          '原住民族語言線上辭典',
                          '博利亞潘世光阿漢字典',
                          '吳明義阿美族語辭典' %>
                    <%= simple_format(description.content_zh) %>
                  <% end %>

                  <% if description.image1.present? %>
                    <p>
                      <% providers = [description.image1_provider] %>
                      <%= image_tag description.image1_url, alt: description.image1_text, width: "100", class: "inline" %>
                      <% if description.image2.present? %>
                        <% providers << description.image2_provider %>
                        <%= image_tag description.image2_url, alt: description.image2_text, width: "100", class: "inline" %>
                      <% end %>
                      <% if description.image3.present? %>
                        <% providers << description.image3_provider %>
                        <%= image_tag description.image3_url, alt: description.image3_text, width: "100", class: "inline" %>
                      <% end %>
                      <% providers.uniq! %>
                      <% providers.compact! %>
                      <% if providers.present? %>
                        <span class="text-gray-400">（圖片提供：<%= providers.join("、") %>）</span>
                      <% end %>
                    </p>
                  <% end %>
                  <% if description.examples.present? %>
                    <ul>
                      <% description.examples.each do |example| %>
                        <li class="inline-block bg-gray-200 p-1 my-0.5">
                          <% if example.audio.present? %>
                            <button>
                              <i class="fa-solid fa-volume-high text-sm" onclick="document.getElementById('audio-example-<%= example.id %>').play()"></i>
                            </button>
                            <%= audio_tag example.audio_url, id: "audio-example-#{example.id}" %>
                          <% end %>
                          <%= linked_term(record: example, dictionary: @dictionary).html_safe %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if description.synonyms.alts.present? %>
                    <p>
                      <span class="bg-stone-500 text-white text-sm p-0.5 ml-5 mr-2">同</span>
                      <%= description.synonyms.alts.map do |synonym_alt|
                            linked_term(record: synonym_alt, dictionary: @dictionary)
                          end.join("、").html_safe %>
                    </p>
                  <% end %>

                  <% if description.synonyms.refs.present? %>
                    <p>
                      <span class="bg-stone-500 text-white text-sm p-0.5 ml-5 mr-2">參見</span>
                      <%= description.synonyms.refs.map do |synonym_ref|
                            linked_term(record: synonym_ref, dictionary: @dictionary)
                          end.join("、").html_safe %>
                    </p>
                  <% end %>
                </li>
              <% end %>
            </ol>
          <% end %>

          <% if totla_terms > i+1 %>
            <hr class="my-2">
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
