<div class="flex items-center space-x-2">
  <h1 class="text-2xl"><%= params[:id] %></h1>
  <span class="text-gray-500">
    <% if @stems.present? %>
      (詞幹: <%= @stems.join("、") %>)
    <% end %>
  </span>
  <button><i class="fas fa-volume-up"></i></button>
</div>
<div class="mt-4 space-y-4">
  <% @terms.each do |term| %>
    <div>
      <div class="bg-<%= term.dictionary.color %>-600 text-white p-2"><%= term.dictionary.name %></div>
      <% if term.descriptions.present? %>
        <ol class="list-decimal list-outside space-y-2 mt-2 ml-5">
          <% term.descriptions.each do |description| %>
            <li>
              <%= description.content %>
              <% if description.examples.present? %>
                <ul class="list-disc list-inside space-y-1">
                  <% description.examples.each do |example| %>
                    <li>
                      <% content = example.content.gsub("\xEF\xBF\xB9", "") %>
                      <% parts = content.split(/[`~]/).reject(&:empty?) %>
                      <%== parts.each_with_index.map do |part, i|
                            if part.match(/^[\p{Alnum}]+$/) && part != params[:id]
                              if i == 0
                                "<a href=\"/terms/#{part.downcase}\" class=\"term\">#{part}</a>"
                              else
                                "<a href=\"/terms/#{part}\" class=\"term\">#{part}</a>"
                              end
                            else
                              part
                            end
                          end.join(' ') %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
          <!-- <li>捉獵物，獵獲的（獵物）。
            <p>O 'adopen niyam a <span class="relative group"><span class="underline">fafoy</span><span class="absolute bg-gray-200 p-1 border rounded hidden group-hover:block">fafoy<br>野豬。</span></span>。</p>
          </li> -->
        </ol>
      <% end %>
    </div>
  <% end %>
</div>
