<%
  if @terms.size > 1
    title params[:id]
    description @terms.first.short_description
  else
    term = @terms.first
    dictionary = term.dictionary

    title "#{params[:id]} - #{dictionary.name}"
    description term.descriptions.map(&:content).join[0..200]
  end
%>

<div class="flex justify-between space-x-2">
  <h1 class="text-2xl">
    <%= params[:id] %>
    <% if @terms.first.is_stem %>
      <span class="text-base">（詞幹）</span>
    <% end %>
  </h1>
  <button id="copy-url" class="block sm:hidden">
    <i class="far fa-copy text-gray-500 mr-2 pt-1"></i>
  </button>
</div>
<div class="mt-4 space-y-4">
  <% @terms.each do |term| %>
    <div>
      <div class="bg-<%= term.dictionary.color %>-600 text-white p-2"><%= term.dictionary.name %></div>
      <% dictionary = term.dictionary %>
      <div>
        <span class="text-slate-400 p-0.5"><%= dictionary.dialect %></span>
        <% if term.repetition.present? %>
          <span class="bg-sky-500 text-white p-0.5">
            [疊 <%= term.repetition %>]
          </span>
        <% end %>

        <% stem = term.stem %>
        <% if stem.present? %>
          <span class="text-gray-500">
            （詞幹: <%= link_to(stem.name, term_path(stem.name)) %>）
          </span>
        <% end %>

        <% if term.audio.present? %>
          <button>
            <i class="fas fa-volume-up" onclick="document.getElementById('audio-<%= term.audio_id %>').play()"></i>
          </button>
          <%= audio_tag term.audio, id: "audio-#{term.audio_id}" %>
        <% end %>

        <button class="float-right">
          <i class="fas fa-share-alt-square text-gray-400 hover:text-gray-800 text-xl mr-2" onclick="navigator.share({url: '<%= request.base_url %>/dictionaries/<%= dictionary.id %>/terms/<%= params[:id] %>'})"></i>
        </button>
      </div>
      <% if term.descriptions.present? %>
        <ol class="list-decimal list-outside space-y-2 mt-2 ml-5">
          <% term.descriptions.each do |description| %>
            <li>
              <%= simple_format(description.content) %>
              <% if description.image.present? %>
                <p><%= image_tag description.image, alt: description.content, width: '100' %></p>
              <% end %>
              <% if description.examples.present? %>
                <ul class="list-disc list-inside space-y-1">
                  <% description.examples.each do |example| %>
                    <li><%= linked_term(record: example, dictionary: @dictionary).html_safe %></li>
                  <% end %>
                </ul>
              <% end %>

              <% if description.synonyms.alts.present? %>
                <p>
                  <span class="bg-stone-500 text-white text-sm p-0.5 ml-5 mr-2">同</span>
                  <%= description.synonyms.alts.map do |synonym_alt|
                        linked_term(record: synonym_alt, dictionary: @dictionary)
                      end.join("、").html_safe %>
                </p>
              <% end %>

              <% if description.synonyms.refs.present? %>
                <p>
                  <span class="bg-stone-500 text-white text-sm p-0.5 ml-5 mr-2">參見</span>
                  <%= description.synonyms.refs.map do |synonym_ref|
                        linked_term(record: synonym_ref, dictionary: @dictionary)
                      end.join("、").html_safe %>
                </p>
              <% end %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  <% end %>
</div>
