<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white font-sans leading-normal tracking-normal">
    <div id="navbar" class="h-[42px] bg-gray-800 text-white flex items-center justify-between p-2">
      <div class="flex items-center space-x-2">
        <div>
          <a href="/" class="logo ebas mr-5"> 阿美語萌典</a>
        </div>
        <div>
          <i class="fas fa-book">&nbsp;</i> 所有辭典
        </div>
        <!-- <div>宇詞紀錄簿</div> -->
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <div id="sidebar" class="mt-[42px] p-4 absolute top-0 left-0 w-full h-[75px] border-r-0 border-b border-gray-200 sm:static sm:border-r sm:border-b-0 sm:w-1/4 sm:h-auto sm:mt-0">
        <input type="text" id="search" class="w-full p-2 border border-gray-300 rounded" placeholder="請輸入欲查詢的字詞">
      </div>
      <div id="main-content" class="mt-[75px] p-4 sm:mt-0 sm:w-3/4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
