<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontawesome-free-6.2.1@6.2.1/css/all.min.css">
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white font-sans leading-normal tracking-normal">
    <div id="navbar" class="h-[42px] bg-gray-800 text-white flex items-center justify-between px-4 py-2">
      <div class="flex items-center space-x-2">
        <div>
          <a href="/" class="logo ebas mr-5"> 阿美語萌典</a>
        </div>
        <div class="cursor-pointer">
          <i class="fa-solid fa-book">&nbsp;</i> 所有辭典
        </div>
        <!-- <div>宇詞紀錄簿</div> -->
      </div>
      <div>
        <%= link_to(about_path, class: "bg-lime-600 rounded px-2 py-1 text-xs") do %>
          <i class="fa-solid fa-info"></i>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <%= yield %>
    </div>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VMCGN0EBM0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VMCGN0EBM0');
    </script>
  </body>
</html>
